<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Template • TodoMVC</title>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
>

</head>

<body>

    <h1 style="text-align:center";> Warhammer Wiki </h1>

    <h2> Autor: Juan Araujo </h2>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            {% for faction in factions %}
            <tr>
                <td>{{ faction.name }}</td>
                <td>{{ faction.description }}</td>
                <td>
                    <form method="post" action="{% url "delete_faction" faction.id %}"> 
                        {% csrf_token %}
                        <button type="submit"> Borrar </button>
                
                    </form>
                </td>
                <td>
                    <form method="get" action="{% url "update_faction" faction.id %}">
                        {% csrf_token %}
                        <button type="submit"> Actualizar </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
    </table>

    <form method="post" action="{% url "index" %}">
        {% csrf_token %}
        {% for field in form %}
        <p> {{ field.label }} </p>
        {{ field }}
        {% endfor %}
        <button name="save"> Guardar </button>
    </form>
</body>
</html>