<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warhammer Login</title>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
>

</head>
<body>

    <div class="container medium">
        <h2 style="text-align:center";>Warhammer Login</h2>

        {% if form.non_field_errors %}
            <div class="error">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            
            <div>
                <label for="id_username">Username</label>
                {{ form.username }}
            </div>

            <div>
                <label for="id_password">Password</label>
                {{ form.password }}
            </div>

            <button type="submit">Login</button>
            
        </form>
        
    </div>

</body>
</html>
